@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

// body {
//   background: url("../../assets/images/backstage.jpg");
//   background-size: cover;
// }

.song-select {
  display: flex;
  flex-direction: column;

  @include tablet-and-above {
    flex-direction: row-reverse;
    justify-content: center;
    max-width: 65rem;
    margin: 0 auto;
    width: 100%;
  }

  &__select-container {
    height: 80vh;
    margin: 2rem 0 1rem 8rem;
    border-radius: 10px;
    background: url("../../assets/images/clipboard3.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 90%;

    @include tablet-and-above {
      width: 50%;
    }
  }

  &__content {
    margin-top: 10rem;
    height: 40vh;
    width: 23rem;
    padding: 0 2rem;

    @include tablet-and-above {
      width: 28rem;
      height: 30rem;
    }
  }

  &__title {
    margin: 0.2rem;
    font-family: zuriah;
    font-size: 3.8rem;
    padding-bottom: 1rem;
    width: 20rem;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
  }

  &__songs-wrapper {
    height: 85%;
    overflow-y: scroll;
  }

  &__bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    // @include desktop {
    //   left: 50%;
    //   margin-left: -512px; /* 50% */
    // }
  }
}
