@use "./_typography.scss";
@use "./mixins" as *;
@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inconsolata;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}

button,
p {
  font-size: 1rem;
  @include tablet-and-above {
    font-size: 1.2rem;
  }
}
