.chord-lib {
  margin-right: 3rem;

  &__title {
    margin-left: 2rem;
    font-size: 2.3rem;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
  }

  &__unfilter-btn {
    margin-left: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    background-color: white;
    color: black;
    border: orange 2px solid;
  }

  &__clear-filters-icon {
    width: 2rem;
  }

  &__chords-container {
  }

  &__chords {
    padding-top: 1rem;
    display: flex;
    margin-left: 2rem;
    height: 30vh;
    overflow-y: scroll;
  }

  &__songs-container {
    overflow-y: scroll;
  }

  &__songs {
    display: flex;
    margin: 1rem;
  }

  &__song {
    padding-right: 2rem;
  }
}
