@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.play {
  display: flex;

  &__fretboard-container {
    width: 60%;
    padding-top: 3rem;
  }

  &__audio {
    position: absolute;
    z-index: 10;
    display: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 10px;

    @include tablet-and-above {
      margin-right: 2rem;
      margin-top: 1rem;
      width: 45vw;
      padding-left: 0.5rem;
    }

    @include desktop {
      width: 53vw;
      margin-right: 10rem;
      height: 85vh;
    }
  }

  &__strum-pattern-container {
    position: relative;
    padding: 1rem;

    @include desktop {
      margin-right: 2rem;
    }
  }

  &__start-option {
    margin: 10rem auto;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__start-info {
    font-size: 1.5rem;
    margin: 0.5rem;
  }
  &__start-btn {
    margin: 0 auto;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}
