@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.strum-pattern {
  display: flex;
  flex-direction: row;

  @include desktop {
    justify-content: center;
  }

  &__wrapper {
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: fade 2s fade-in;

    @include tablet-and-above {
      margin-left: 0;
    }

    @include desktop {
      margin: 0 2rem;
    }
  }

  &__arrow {
    width: 2rem;

    @include tablet-and-above {
      width: 3rem;
    }
  }
}
