@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  background-color: $secondary-color;
  padding: 0.5rem;

  &__title {
    font-size: 1.75rem;
    margin: 0;
    color: white;

    @include tablet-and-above {
      text-align: center;
      font-size: 40px;
    }
  }
}
