@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  &__link {
    position: absolute;
    left: 0;
    text-decoration: none;
    display: flex;
    justify-content: start;
    margin: 2rem 1rem 0;
  }

  &__logo {
    width: 13rem;
    z-index: 0;
  }

  &__list {
    display: flex;
    margin-right: 1rem;
  }

  &__list-item {
    margin-right: 1.5rem;
    font-size: 1.3rem;
    cursor: pointer;
  }

  &__list-link {
    text-decoration: none;
    color: black;

    &.active {
      color: rgb(232, 173, 64);
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }

    &--light {
      color: white;
    }
  }

  &__divider {
    color: black;

    &--light {
      color: white;
    }
  }
}
