@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.section-lyrics {
  display: inline-block;
  height: 2.4rem;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;

  @include desktop {
    height: 3.5rem;
  }

  &__lyric {
    color: #625f5f;

    @include desktop {
      margin-right: 0.2rem;
    }

    &--highlight {
      // -webkit-text-fill-color: rgb(78, 149, 152);
      transform: scale(1.1);
      font-weight: bold;
      animation: pulse 0.5s ease-out;
      color: black;
      padding-right: 0.2rem;
    }
  }

  &__chord {
    display: inline;
    align-self: flex-start;
    display: flex;
    // justify-content: center;
    width: 3rem;

    @include desktop {
      padding-left: 1rem;
    }

    &--alt {
      padding-bottom: 1.2rem;
      margin-right: 1rem;

      @include desktop {
        margin-left: 1rem;
      }
    }

    &--highlight {
      text-decoration: underline;
    }
  }
}
