@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.song {
  margin: 0.5rem;
  margin-top: 0;
  padding: 0.3rem;
  color: black;

  &__container {
    display: flex;
    border-radius: 5px;
    padding: 0.5rem 0.2rem 0.5rem 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(204, 201, 201, 0.485);
    }
  }

  &__wrapper {
    text-align: left;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--left {
      width: 85%;
    }
  }

  &__info {
    margin: 0;

    &--name {
      height: 1.5rem;
    }

    &--artist {
      color: rgb(222, 145, 3);
      font-size: 1.2rem;
    }
  }
}
