@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.song {
  &__container {
    display: flex;
    border: 1px solid $tertiary-color;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 0.3rem;
    background-color: rgba(105, 146, 167, 0.311);
    color: white;
    border: 5px solid rgba(53, 75, 86, 0.311);
  }

  &__wrapper {
    text-align: left;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--left {
      width: 80%;
    }
  }

  &__info {
    border: 1px solid $tertiary-color;
    border-radius: 7px;
    margin: 0.25rem;

    &--name {
      height: 2rem;
    }

    &--artist {
      // margin: 0.25rem 0.75rem;
    }
  }
}
