@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.instructions {
  @include page-content-container;
  text-align: center;
  color: white;
  height: 85vh;

  @include tablet-and-above {
    height: 67vh;
    font-size: 1.1rem;
  }

  &__poster-dots-wrapper {
    @include poster-dots-wrapper;
  }

  &__info-container {
    width: 50%;
    margin: 0 auto;
  }

  &__title {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  &__info {
    list-style: circle;
    margin-bottom: 1rem;
  }
}
