.chord {
  &:hover {
    transform: scale(1.1);
  }

  &__name {
    font-size: 20px;
    text-align: center;
    background-color: orange;
    margin: 0.2rem 2rem;
    padding: 0.3rem 0;
    border-radius: 10px;
  }
  &__img {
    width: 9rem;
    height: 12rem;
    cursor: pointer;
  }
}
