.lyrics {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 30rem;

  &__lyric-container {
    display: inline-block;
    height: 3rem;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  &__lyric {
  }

  &__chord {
    display: inline;
    align-self: flex-start;
    width: 3rem;
  }
}
