@use "../../styles/partials/_keyframes.scss";

.lyrics {
  height: 80vh;
  overflow-y: scroll;
  //   transform: translateY(-2cm);

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 21rem;
    padding-left: 0.5rem;
  }
}
